<div>
    <center><h1>follow us on</h1></center>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="https://www.facebook.com/olxindia/">facebook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/olx_india/">instagram</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/OLX_India">twitter</a>
        </li>
      </ul>
</div>